Flask==2.0.2
Flask-MySQLdb==0.2.0
python-decouple==3.5
requests==2.26.0
oauthlib==3.1.1
cachetools==4.2.4
requests==2.26.0
requests-oauthlib==1.3.0
ecdsa==0.17.0
idna==3.3
base58
oauth2
flask_cors
pyrebase4












